<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{ 'Blog'|trans }}</b>
    </div>
    <div class="list-group">
        <a href="{{ path('articles') }}" class="list-group-item">{{ 'Article'|trans }}</a>
        <a href="{{ path('categories') }}" class="list-group-item">{{ 'Category'|trans }}</a>
        <a href="{{ path('tags') }}" class="list-group-item">{{ 'Tag'|trans }}</a>
    </div>
</div>
