{% extends "@SymsiteBlog/layout/articles.html.twig" %}

{% block title %}Edit Article{% endblock %}
{% block body_id %}article_edit{% endblock %}

{% block content %}
    <h1>{{ 'Edit Article'|trans  }}</h1>
    <br/>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button type="submit"
                class="btn btn-primary btn-block"
                data-disable-with="{{ 'Processing...'|trans }}">{{ 'Update'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block script %}
    {{ parent() }}
    {% include '@SymsiteAdmin/include/_tinymce.html.twig' with {'message': 'Your article has not been saved yet.'|trans} %}
    {% include '@SymsiteBlog/include/_select2.html.twig' %}
{% endblock %}
